.imageUpload {
  width: 500px;
  margin: 0 auto;
}

.imageUpload__progress {
  width: 100%;
  margin: 0 auto;
}

.imageUpload__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.imageUpload__input {
  width: 99%;
}

textarea {
  min-height: 70px;
  resize: vertical;
}
